{{ attach_library('fancybox_ui/fancybox') }}
{#
/**
 * @file
 * Default template implementation to display the background inline field.
 *
 * Available variables:
 * - other_data: Other related data including group and caption
 * - image_uri: The absolute url to the image.
 * - image: The image element
 */
 #}
 <div {% if other_data.wrapper_class != '' %} class ="{{ other_data.wrapper_class }}"{% endif %} data-fancybox="{{ other_data.group }}" {% if other_data.caption != '' %} data-caption = "{{ other_data.caption }}" {% endif %} data-src="{{ image_uri }}" style="cursor:pointer;">
 	{{ image }}
 </div>